.profile-form{
    padding: 25px 50px;
  font-size: 15px;
  display: flex; 
  flex-direction: column;
  align-items: center;
  color: #666;
  width: 50%;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    margin: 0;
    -webkit-font-smoothing: subpixel-antialiased;
    
}

.profile-form label{
  /* float: left;
  width: 10em;
  margin-right: 1em; */

  display: inline-block;
  width: 140px;
  text-align: left;
}

.update-errors-ul{
  margin: 0;
  margin-bottom: 25px;
  padding: 2px 0;
  list-style: none;
  font-size: 13px;
  text-align: center;
  background-color: rgba(255, 0, 0, 0.3);
  border-radius: 3px;
}

.inches, .feet{
  font-size: 10px; 
   color: #666; 
  display: flex; 
  justify-content: center;
  align-items: center;
  padding-right: 10px; 
  padding-left: 4px; 
}