.login-modal.active,
.login-modal-background.active {
  display: block;
}

.top-bar h1 {
  color: #fff;
  font-family: "Baloo Bhaina 2", cursive;
}

.top-bar p {
  margin: 0;
}

.top-bar {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 15px 50px;
  display: table;
}

.signup-login p {
  display: inline-block;
}

.signup-login {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  text-align: right;
  padding-right: 100px;
}

.logout-profile {
  background-color: #000;
}

.top-bar button {
  background-color: #fa7921;
  border: none;
  border-radius: 30px;
  width: 100px;
  color: #fff;
  font-size: 12px;
  cursor: pointer;
  padding: 10px;
  margin-left: 10px;
}

.top-bar button:hover {
  background-color: #f26531;
}

.top-bar.other {
  position: initial;
  background-color: #679436;
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  display: table;
}

.top-bar.other button {
  background-color: #5c8001;
}

.top-bar.other button:hover {
  background-color: #447604;
}

.profile-logout {
  display: flex;
  align-items: center;
  padding-right: 100px;
}
.top-bar.inactive {
  display: none;
}

.profile-logout {
  padding-right: 100px;
  display: table-cell;
  vertical-align: middle;
  text-align: right;
}

.login-modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none;
  z-index: 2;
}

.login-modal-background {
  display: none;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 1;
}

.modal-x {
  position: absolute;
  margin-left: 15px;
  margin-top: 15px;
  font-size: 20px;
  cursor: pointer;
  color: #333;
}

.logo{
  height:32px;
  padding: 0px;
  margin: 0px;
  /* background-color: seagreen; */
}
